@import "~bootstrap/scss/bootstrap";

//pagination

.pagination:before,
.pagination:after {
    content: " ";
    display: table;
}
 
.pagination:after {
    clear: both;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    width: 600px; /* or whatever width you require */
    margin: 0 auto;
}
 
.pagination {
    background:white;
    cursor: default;
    /* self-clearing method: */ }
    .pagination a, .pagination span, .pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1; }
    .pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      background: white;
      color: #000044;
      border-color: #000044; }
  .pagination .pagination_links {
      margin: 0 auto;
      width: 70%;
      text-align: center;
  }
    .pagination .page_info {
      margin: 0 auto;
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
    .pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .pagination {
      height: 1%; }
    *:first-child + html .pagination {
      overflow: hidden; }
//nav

//other

body {
  background-color: #c6f5ed;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid rgba(221, 221, 221, 0.753);
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2d0;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2e6ab1;
  color: white;
  text-align: center;
}