<h2>Nuevo turno</h2>

<%= render 'form', appointment: @appointment, professional: @professional %>

<%= link_to 'Volver', professional_appointments_path(:professional_id => @professional.id), class:"btn btn-info btn-sm" %>
